{% extends "templates/base.html" %}

{% block content %}

  <ol class="breadcrumb mb-2">
    <li class="breadcrumb-item active">{{title}}</li>
  </ol>
  <div class="row">
    <div class="col-xl-12">

      <div class="card-header">
        Manutenção de Emprestimo
      </div>

      <div class="card-body">
        <div class="">
          <div style="margin-bottom: 15px;">
            <a href="/emprestimo/insertEmprestimo" class="btn btn-primary">
              Inserir novo Emprestimo
            </a>
          </div>

          <div style="background-color: #f8f9fa">
            <table id="tabEmprestimo" class="display" style="width:100%">
              <thead>
                <tr>
                  <th>Ação</th>
                  <th>Código</th>
                  <th>Data do Emprestimo</th>
                  <th>Data da Devolução</th>
                  <th>Multa</th>
                  <th>Nome do Autor</th>
                  <th>Nome do Livro</th>
                  <th>Nome do Usuário</th>
                </tr>
              </thead>
              <tbody>
                {% for reg in data %}
                  <tr>
                    <td>
                      {# Link para visualização dos dados #}
                      <a href="/emprestimo/ViewEmprestimo/{{ reg.emprestimoid }}" title="Visualizar">
                        <i class="fas fa-search"></i>
                      </a>

                      {# Link para atualuzação e remoção dos dados#}
                      <a href="/emprestimo/UpdateEmprestimo/{{ reg.emprestimoid }}" title="Atualizar" style="margin-left: 10px;">
                        <i class="fas fa-pencil-alt"></i>
                      </a>
                    </td>
                    <td>{{reg.codigo}}</td>
                    <td>{{reg.data_emprestimo}}</td>
                    <td>{{reg.data_devolucao}}</td>
                    <td>{{reg.multa}}</td>
                    <td>{{reg.nomeautor}}</td>
                    <td>{{reg.livro}}</td>
                    <td>{{reg.userName}}</td>

                  </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>

        </div>
      </div>
    </div>
  </div>

  <script>

    window.onload = function () {
      windowOnLoad();
      //@ Caso tenha dado erro no servidor frontEnd, ele será mostrado aqui.
      const localErro = "{{erro}}";
      if (localErro != "") {
        alert("[vwEmprestimo|onload]Servidor retornou o erro:" + localErro);
      }

      new DataTable('#tabEmprestimo');
    };
  </script>

{% endblock %}